{% extends 'base.html.twig' %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Si vous avez un problème n'hésitez pas à lire la doc du Readme sur git. Merci ! </p>
{% endblock %}