{% extends 'base.html.twig' %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>En cas de problème de privilège, je vous invite à consulter la documentation disponible dans le fichier README sur Git. Merci pour votre attention.</p>    
{% endblock %}